<!DOCTYPE html>

<html lang="pt_br">
    <head> <!--Cofigurações do documento -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#8257E5">
        <title>Proffy | Sua plataforma de estudos online</title>

        <link rel="shortcut icon" href="/images/favicon.png" type="image/png">
        <link rel="stylesheet" href="/styles/main.css">
        <link rel="stylesheet" href="/styles/partials/page-landing.css">
        <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet"> 
    </head>
<body id="page-landing"> <!-- O id é a forma pela qual chamerei as coisas lá no CSS.-->
    <div id="container">
        <div class="logo-container">
            <img src="/images/logo.svg" alt="Proffy">
            <h2>Sua plataforma de estudos online</h2> <!-- <p> para por paragarafos, caso eu não queira quebra de linha usario o <span> -->
        </div>
        <img class="hero-image" src="/images/landing.svg" alt="Sua plataforma de estudos online">
       <div class="buttons-container">
           <a class="study" href="/study"><!--link para outra pagina-->
                <img src="/images/icons/study.svg" alt="Sou Aluno">Sou Aluno
            </a>
            <a class="give-classes" href="/give-classes"><!--link para outra pagina-->
                <img src="/images/icons/give-classes.svg" alt="Sou Professor">Sou Professor
            </a>
       </div>
       <p class="total-connections">
           Mais de 500 conexões já realizadas
           <img src="/images/icons/purple-heart.svg" alt="Coração roxo">
        </p>
    </div>
</body>
</html>
